.body{
    margin: 0;
    padding: 0;
}
.header{
    height: 100px;
    /* background-color: red; */
}
.navigation{
    width:1200px;
    height:50px;
    /* background-color: green; */
    margin:0 5px;
}
.logo{
    float: left;
    margin: 15px 0px;
}
.menu{
    margin:0 10px;
    float:left;
}
.menu>ul{
    list-style: none;
}
.menu>ul>li{
    float: left;
    padding: 0 10px;
    margin-top:30px;
}
.slider{
    height:400px;
    float: left;
    margin: -10px 10px;
}
.slide{
    width:1080px;
    height:300px;
    /* background: blue; */
    margin: -30px 140px;
    color:#fff;
    background-image :url(./ba.jpg);
    background-repeat: no-repeat;
    opacity: 0.6;
    /* background-color: yellow; */
   
}
.slide>img{
    float:left;
    margin:0 -160px;
    opacity: 0.9;
}
.slide1>img{
    float:right;
    margin:0 -170px;
}
.Card-section{
    width:1440px;
    height:900px;
    margin: 40px -50px;
    background-color:gainsboro;
    
}
.cards{
    width:900px;
    height:700px;
    float:left;
   margin: 30px 120px; 
   /* background-color:white; */
}
.cards>ul{
    margin: -22px 80px;
    list-style-type: square;
}
.left-card{
    margin:60px 0px;
    width:210px;
    height:350px;
    background-color: white;
    padding: 20px 13px;
}
.left-card>small>p{
    color:gray;
}
.left-card1{
    margin:-347px 208px;
    width:210px;
    height:350px;
    background-color: white;
    padding:20px 13px;
}
.left-card1>small>p{
    color:gray;
}
.center-card{
    margin:-410px 442px;
    width:210px;
    height:350px;
    background-color: white;
    padding:20px 13px;
}
.center-card>small>p{
    color: gray;
}
.right-card{
    margin: 60px 665px;
    width:210px;
    height:350px;
    background-color: white;
    padding:20px 13px;
}
.right-card>small>p{
    color: gray;
}
.right-card1{
    margin: -410px 886px;
    width:210px;
    height:350px;
    background-color: white;
    padding:20px 13px;
}
.right-card1>small>p{
    color: gray;
}
.left-card2{
    margin :420px 0px;
    width:210px;
    height:350px;
    background-color: white;
    padding:20px 13px;
}
.left-card2>small>p{
    color: gray;
}
.left-card3{
    margin: -770px 220px;
    width:210px;
    height:350px;
    background-color: white;
    padding:20px 13px;
}
.left-card3>small>p{
    color: gray;
}
.center-card1{
    margin: 420px 442px;
    width:210px;
    height:350px;
    background-color: white;
    padding:20px 13px;
}
.center-card1>small>p{
    color: gray;
}
.right-card2{
    margin:-770px 665px;
    width:210px;
    height:350px;
    background-color: white;
    padding:20px 13px;
}
.right-card2>small>p{
    color: gray;
}
.right-card3{
    margin: 420px 885px;
    width:210px;
    height:350px;
    background-color: white;
    padding:20px 13px;
}
.right-card3>small>p{
    color: gray;
}
.center-card2{
    text-align: right;
    margin: -380px 320px;
}
.center-card2>small>p{
    color: gray;
}
.Card-section1{
    width:1438px;
    height:420px;
    margin: -40px -48px;
    background-color:black;
}
.cards1{
    padding: 20px 600px;
    color: white;
}
.left-card4{
    margin-left: 100px;
    margin-top: 90px;
}
.left-card4>small{
    margin:130px -80px 100px 125px;
    color: white;
    float: left;
    font-size: 11px;
}
.left-card5{
    margin:-180px 325px;
    width:125px;
    height:230px;
    background-color: white;
    padding:30px 15px;
}
.left-card5>small{
    margin:5px -42px 80px -11px;
    color:black;
    float: left;
    font-size: 11px;
}
.left-card5>small>p{
    margin: -120px 20px;
    color:gray;
    padding: 40px 20px;
}
.left-card6{
    margin:-225px 85px; 
    float: left;
}
.left-card6>small{
    margin:5px -120px 80px -3px;
    color:white;
    float: left;
    font-size: 11px;
}
.left-card7{
    margin-left: 595px;
    margin-top: 5px;
}
.left-card7>small{
    margin:-95px -120px 80px 10px;
    color:white;
    float: left;
    font-size: 11px;
}
.left-card8{
    margin-left: 712px;
    margin-top: -125px;
}
.left-card8>small{
    margin:-95px -120px 0 3px;
    color:white;
    float: left;
    font-size: 11px;
}
.right-card4{
    margin-left: 829px;
    margin-top: -125px;
}
.right-card4>small{
    margin:-95px -120px 0 3px;
    color:white;
    float: left;
    font-size: 11px;
}
.right-card5{
    margin-left: 945px;
    margin-top: -125px;
}
.right-card5>small{
    margin:-95px -120px 0 10px;
    color:white;
    float: left;
    font-size: 11px;
}
.center-card3{
    margin-left: 615px;
    margin-top: 80px;
    color: white;
    font-size:14px;
}
.Card-section2{
    width: 1453px;
    height:600px;
    background-color: gainsboro;
    margin:40px -15px;
}
.cards2{
    margin-top: 30px;
    padding: 90px 540px;
}
.left-card9{
    margin: -140px 200px;
    background-color: white;
    padding: 100px 50px;
    width: 1000px;
    height: 500px;
}
.left-card10{
    margin-top: -400;
    margin-left: 400;
}
.center-card4{
    margin-top: -185;
    margin-left: 550;
}
.center-card5{
    margin-top: -185;
    margin-left: 700;
}
.right-card6{
    margin-top: -185;
    margin-left: 860;
}
.right-card7{
    margin-top: -185;
    margin-left: 1015;
}
.cards3{
    margin-top: 50px;
    margin-left: -90px;
    text-align: center;
    color: gray;
}
.cards3>p{
    margin: 40px 360px;
    font-size: 14px;
    color: black;
}
.footer{
    height:110px;
    margin:635px -15px;
    width: 1405;
    background: brown;
}
.footer>ul{
    list-style-type: none;
    margin-left: 520px;
    color: #fff;
}
.footer>ul>li{
    float:left;
    padding:5px 9px;
    height: 30px;
    width: 30px;
    background: #bcbcbc;
    margin: 30 10px 0 0;
    border-radius: 50%;
}
.footer>p{
 margin: 30 110px;
 color: gray;
 text-align: left;
 clear: both;
 padding: 20px 350;

}