.body{
    margin: 0;
    padding: 0;
}
.header{
    height: 100px;
    /* background-color: red; */
}
.navigation{
    width:1398px;
    height:50px;
    /* background-color: green; */
    margin:0 20px;
}
.logo{
    float: left;
    margin-top: 20px;
}
.menu{
    margin:0 10px;
    float:left;
}
.menu>ul{
    list-style: none;
}
.menu>ul>li{
    float: left;
    padding: 0 10px;
    margin-top:30px;
}
.slider{
    height:500px;
    float: left;
}
.slide{
    width:900x;
    height:305px;
    /* background: blue; */
    margin: 30px 110px;
    color:#fff;
    background-image :url(./fsf1.jpg);
    background-repeat: no-repeat;
    opacity: 0.6;
    background-color: yellow;
}
.slide>h2{
    color: black;
    text-align: center;
}
.slide>img{
    float:left;
    margin:-20px -220px;
    opacity: 0.9;
}
.slide1>img{
    float:right;
    margin:-46px -200px;
}
.Card-section{
    height:300px;
    vertical-align: middle;
    border-style: none;
    margin-top: 20px;
}
.cards{
    width: 1000px;
    float:left;
   margin: 0 110px; 
}
.left-card{
    width:100px;
    float: left;
    margin:40px 0;
    text-align: center;
}